.react-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  height: 32px;
}
.react-button.primary {
  color: white;
  background-color: rgb(59, 118, 206);
}
.react-button.secondary {
  color: #333;
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.react-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.react-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.react-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
